---
import { Button, Card, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import Section from '@/components/home/Section.astro'

const headings = [
  //   { depth: 2, slug: 'hobbies', text: '爱好' },
//   { depth: 1, slug: 'cert', text: '获奖' },
  { depth: 1, slug: 'social-networks', text: '社交网络' },
  { depth: 1, slug: 'about-blog', text: '关于博客' }
]
---

<PageLayout title='关于' {headings} comment>
  <p>
    你好，我是儒牧，电子科技大学在读本科生，也是一名技术极客。这里是我的博客，你将会在这里发现我的博客文章、学习笔记和各种随笔。愿它们为你带来灵感或慰藉。记录学习和生活，分享技术和思考。随缘更新，希望我的内容让你喜欢。
  </p>
  <Button title='赞赏我' class='w-fit' href='/projects#sponsorship' variant='ahead' />

  {/* social-networks */}
  <h2 id='social-networks'>社交网络</h2>
  <p>你可以在以下平台找到我：</p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/rumunius',
        text: 'followers',
        api: 'github/rumunius'
      },
      {
        platform: '知乎',
        color: '#0084ff',
        icon: 'zhihu',
        link: 'https://www.zhihu.com/people/mei-mo-25-6',
        text: 'followers',
        count: 26
        // api: 'zhihu/Rumunius'
      },
      {
        platform: 'Bilibili',
        icon: 'bilibili',
        color: '#fe7398',
        link: 'https://space.bilibili.com/287692957',
        text: 'followers',
        count: 93
        // api: 'zhihu/Rumunius'
      },
      {
        platform: 'CSDN',
        link: 'https://blog.csdn.net/Cykinter',
        text: 'followers',
        count: 39
        // api: 'weibo/Rumunius'
      }
    ]}
  />

  <!-- {/* gossips */}
  <h2 id='gossips'>Gossips</h2>
  <Collapse title='Lorem ipsum'>
    Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum
    dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio
    possit voluptatum.
  </Collapse> -->

  {/* about-blog */}
  <h2 id='about-blog'>关于博客</h2>
  <p>我正在将过去在其他平台写的部分文章搬运到这里。这里将是我的主力更新平台。</p>
  <p>网站历史</p>
  <Timeline
    events={[
      {
        date: '2025-11-02',
        content: '博客正式上线运行'
      }
    ]}
  />
  <p>本站基于以下项目/服务提供商的资源和技术支持：</p>
  <ul>
    <li>域名: <a href='https://www.aliyun.com/' target='_blank'>Aliyun</a></li>
    <li>
      框架 & 主题: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <!-- <li>评论系统：<a href='https://waline.js.org' target='_blank'>Waline</a></li> -->
    <!-- <li>
      访问量统计：<a href='https://waline.js.org/' target='_blank'>Waline</a> + <a
        href='https://umami.is/'
        target='_blank'>Umami</a
      >
    </li> -->
    <li>
      粉丝数统计：<a href='https://github.com/spencerwooo/substats' target='_blank'>Substats</a>
    </li>
  </ul>
  <p>特别鸣谢：<a href='https://arthals.ink/' target='_blank'>Arthals' ink</a>，本博客的原型来自于他的博客。</p>
</PageLayout>
