---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 1, slug: 'hardware', text: '硬件/DIY' },
  { depth: 1, slug: 'software', text: '软件' },
  { depth: 1, slug: 'learnings', text: '学习' },
  { depth: 1, slug: 'others', text: '其他' },
  { depth: 1, slug: 'gpg-signature', text: 'GPG 签名' },
  { depth: 1, slug: 'sponsorship', text: '赞助' }
]
---

<PageLayout title='项目' {headings} view>
  <p>我的Github 活动</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/rumunius'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    如果你认为我的工作很有用或有趣，您可以捐赠以支持我的工作，或联系我讨论项目。
  </p>
  <Button title='赞赏我的工作' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

  <h1 id='hardware'>硬件/DIY</h1>
  <ProjectSection
    projects={[
      {
        name: '占位符1',
        description:
          'XXX',
        links: [
          { type: 'github', href: 'about:blank' },
          {
            type: 'release',
            href: 'about:blank'
          }
        ]
      }
    ]}
  />
  <Collapse title='一些以前的项目'>
    <ProjectSection
      projects={[
      {
        name: '占位符2',
        description:
          'XXX',
        links: [
          { type: 'github', href: 'about:blank' },
          {
            type: 'release',
            href: 'about:blank'
          }
        ]
      }
    ]}
    />
  </Collapse>

  <h1 id='software'>软件</h1>
  <ProjectSection
    projects={[
      {
        name: '占位符1',
        description:
          'XXX',
        links: [
          { type: 'github', href: 'about:blank' },
          {
            type: 'release',
            href: 'about:blank'
          }
        ]
      }
    ]}
  />
  <Collapse title='一些以前的项目'>
    <ProjectSection
      projects={[
      {
        name: '占位符2',
        description:
          'XXX',
        links: [
          { type: 'github', href: 'about:blank' },
          {
            type: 'release',
            href: 'about:blank'
          }
        ]
      }
    ]}
    />
  </Collapse>

  <h1 id='learnings'>学习</h1>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: '占位符',
        description:
          'XXX',
        links: [
          { type: 'github', href: 'about:blank' },
          {
            type: 'release',
            href: 'about:blank'
          }
        ]
      },
      {
        name: '占位符',
        description:
          'XXX',
        links: [
          { type: 'github', href: 'about:blank' },
          {
            type: 'release',
            href: 'about:blank'
          }
        ]
      },
    ]}
  />

  <h1 id='others'>其他</h1>
  <ProjectSection
    projects={[
      {
        name: '占位符',
        description:
          'XXX',
        links: [
          { type: 'github', href: 'about:blank' },
          {
            type: 'release',
            href: 'about:blank'
          }
        ]
      }
    ]}
  />

  <h1 id='gpg-signature'>GPG 签名</h1>
  <p>
    暂无
  </p>
  <!-- <Button href='https://keys.openpgp.org/search?q=114514' title='Checkout my key' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button> -->

  <!-- sponsorship -->
  <h1 id='sponsorship'>赞赏</h1>
  <p>感谢您的赞赏，您的支持是我最大的动力。</p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <!-- <p>感谢以下赞赏者：</p>
  <Sponsors
    sponsors={[
      { name: 'C*a（酷安@暴走の蜗牛）', amount: '2.00', date: '2019-07-02' },
      { name: '华雄(QQ：1300****71)', amount: '5.00', date: '2019-12-30' },
      { name: '◌(QQ：1934****45)', amount: '3.00', date: '2019-12-30' },
      { name: 'Anonymous', amount: '20.00', date: '2022-04-06' }
    ]}
  /> -->
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
